@use "variables" as v;

@use "pico" with (
  $theme-color: "jade",
  $enable-responsive-typography: false,
  $enable-viewport: false,
  $modules: (
    "components/text-grid": true,
    "layout/container": false,
    "themes/afp": true,
    "themes/default": false,
  )
);

@use "theme/afp.scss";


